mail/
cmus/
etc/wpa_supplicant/
fbtermrc
gn
gtk-*
htop/
irssi/
mozilla/

sw/recently_installed

vim/.netrwhist
vim/bundle/
vim/undo/
vim/viminfo
vim/viminfo.tmp

w3m/w3m*
w3m/cookie
w3m/help
w3m/history

zsh/histfile
zsh/old_dirs

bitcoin/

bin/old/
bin/pandoc-tangle
bin/pandoc_website
bin/maudea

google-googletalkplugin/

kobo/kobo-aura-remote/
kobo/koreader/
kobo/ksm/

weechat/
